[Desktop Entry]
Name=Screenshot
Name[zh_CN]=截图
Exec=long-screenshot
Icon=long-screenshot
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;